body{
  font-family: 'Raleway', sans-serif;
}

div{
  display: block;
  padding-bottom: 20px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 152px;
  height: 33px;
  }

div.verbo{
  background-color:magenta;
  }
