body{
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
}

div{
  display: inline-block;
  padding-bottom: 52px;
  padding-top: 2px;
  padding-left: 9px;
  padding-right: 9px;
  background-color: yellow;
  margin: 0 auto;
  width: 152px;
  height: 33px;
  height: 1px;
  }


div.verbo{
  background-color:magenta;
  }
.contenedor{
  display: inline-block;
  height: auto;
  width: inherit;
  background: white;
  position: relative;
  margin-left: 384px;
}
